@media (max-width: 440px) {
    .mediaClass{
        display: none;
    }
    .navMedia{
        font-size: 0.73rem;
        /* gap: 1px; */
    }
    .todoItem{
        font-size: 0.85rem;
    }
    .taskLogo{
        width: 1rem;
    }
  }